/*###### Font Connecting ######*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('../fonts/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto.eot'),
       url('../fonts/Roboto.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold-Condensed';
  src: url('../fonts/Roboto-Bold-Condensed.eot');
  src: url('../fonts/Roboto-Bold-Condensed.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Bold-Condensed.woff2') format('woff2'),
       url('../fonts/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg'),
       url('../fonts/Roboto-BoldCondensed.ttf') format('truetype'),
       url('../fonts/Roboto-BoldCondensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../Gotham-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('../fonts/Gotham-Book.ttf') format('truetype'),
       url('../fonts/Gotham-Book.woff') format('woff'),
       url('../fonts/Gotham-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'),
       url('../fonts/Gotham-Medium.ttf') format('truetype'),
       url('../fonts/Gotham-Medium.woff') format('woff'),
       url('../fonts/Gotham-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'),
       url('../fonts/Gotham-Bold.ttf') format('truetype'),
       url('../fonts/Gotham-Bold.woff') format('woff'),
       url('../fonts/Gotham-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



/*###### Font Connecting End ######*/


/*###### Basic style ######*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
   display: inline-block;	
   list-style:none;
}

li{
	display: inline-block;
}

.wrapper{
	margin:0 auto;
    width: 100%;
	max-width:1200px;
	padding: 0 15px;
}



/*###### Basic End ######*/

/*###### Header #####*/

header{
	width: 100%;
  position: absolute;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}


/*###### Logo #####*/

.logo{
	display: inline-block;
    width: 67px;
    height: 67px;
    background: #11749E;
    margin:22px 0 26px 0;
    -webkit-box-shadow: 12px 8px 0 rgba(255,255,255,0.8);
    box-shadow: 12px 8px 0 rgba(255,255,255,0.6);
    text-align: center;
    line-height: 67px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size:30.46px;
}


/*###### Logo End #####*/

/*###### Nav Menu #####*/
.nav-menu{
    float: right;   
}

.nav-menu li a{
	display: inline-block;
	padding:54px 24px 42px 24px;
	text-decoration: none;
    font-family: 'Roboto-Regular';
    font-size: 20px;
    color: #FFF;
    text-align: center;
}

.nav-menu li a:hover{
    padding-bottom:36px; 
    border-bottom: 6px solid #11749E;
}


/*###### Nav Menu End #####*/


/*###### Social Menu #####*/

.social{
    float: right;
    margin:54px 0 42px 0;
}

.social li{
    padding: 0 16px;
}

/*###### Social Menu End #####*/

/*###### Header End ######*/

/*###### Main ######*/

/*##### about-company-head #####*/

.about-company-head{
  background: url(../img/about-company-head-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

.about-company-head h1{
  font-size: 153px;
  padding: 422px 0 0 0;
  text-align: center;
  font-family: "Gotham-Bold";
  color: #FFF;
  letter-spacing:-10px;
}

.about-company-head .powered{
  text-align: center;
  font-family: "Gotham-Bold";
  color: #11749E;
  font-size: 25px;
  font-family: "Gotham-Medium";
  color: #11749E;
  text-align: center;
  letter-spacing:18px;
}

.about-company-head .scroll{
  text-align: center;
  margin: 90px 0 11px 0; 
  color: #FFF;
}

.about-company-head .arrow{
 
  padding: 11px 0 109px 0;
  margin: 0 auto;
}
.about-company-head a{
  display: block;
  margin: 0 auto;
  font-size:20px;
  width: 71px;
  height:71px;
  line-height: 71px;
  border: 1px solid #FFF;
  border-radius:50%;
  text-align: center;
  color:#FFF;
  text-decoration: none;
}

/*##### about-company-head End#####*/

/*##### about company body ######*/

.about-company-body{
  background:#11749E;
} 

.capital-letter{
  padding-top: 102px;
  text-align: center; 
  font-size: 248px;
  line-height: 210px;
  color: #2E85AA;
  font-family: 'Roboto-Bold-Condensed';            
}


.about-company-body h2{
  font-size: 38px;
  font-family: "Gotham-Medium";
  color:#FFF;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: -141px 0 72px 0;
  z-index: 2; 
}

.feature-group{
  margin-top: 72px;
  width: 100%;
}

.feature{
  display: inline-block;
  width:24.7%;
  padding-bottom:109px; 
}

.feature-ellipse{
  width:132px;
  height:132px;
  background: #2E85AA;
  border-radius: 50%;
  margin:0 auto;
  position: relative;
}

.feature-ellipse img{
  position: absolute;
  top:52px;
  left:49px;
}

.feature h3{
  font-family: 'Gotham-Medium';
  font-size: 18px;
  font-weight: 36px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  margin: 24px 0 34px 0;
}

.feature p{
  font-family: 'Gotham-Book';
  font-size: 15px;
  padding: 0 20px;
  color: #FFF;
}

/*##### about company body end ######*/

/*##### news-area #####*/

.agency-news1{
  background: #222; 
  position: relative;
  color: #FFF;
  font-family: 'Gotham-Book';
}

.agency-news2{
  background: #F3F3F3;  
  position: relative;
  color: #222;
  font-family: 'Gotham-Book';
}


.left-block, .right-block, .img-block-one, .img-block-two{
  overflow: hidden;
  display: inline-block;
  width:49.6%;  
  height: 100%;
}


.img-block-one{  
  width: 50%;
  position: absolute;
  top:0; 
  right:0;
  bottom:0;
  background: url(../img/news-block1.jpg);
  -webkit-background-size: cover;
  background-size: cover;

}

.img-block-two{ 
width: 50%; 
  position: absolute;
  top:0; 
  left:0;
  bottom:0;
  background: url(../img/news-block2.jpg);
  -webkit-background-size: cover;
  background-size: cover;

}


article{
  padding:82px 116px 115px 80px;   
  max-width: 600px;
  height: auto;
}

.date{
  font-size:13px;
}

article h3{
  margin:18px 0 18px 0;
  font-size:25px;
  font-family: "Gotham-Medium";
}

article .description{
  max-width: 470px; 
  font-size: 15px;
}

article .description p{
  text-align: justify;
  margin: 18px 0;
}
/*##### news-area end #####*/


/*##### blog-area #####*/

.blog-area .capital-letter{
  color: #E2E2E2;
  padding-top: 102px;
}

.blog-area h2{
  font-size: 38px;
  font-family: "Gotham-Medium";
  color:#222;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: -130px 0 56px 0;
}

.blog-area h3{
  font-size: 30px;
  padding: 56px 0 69px 0;
  font-family: 'Gotham-Book';
  color:#222;
  text-align: center; 
}

.blog-group{
  margin-top: 72px;
  width: 100%;
}

.blog{
  display: inline-block;
  width:24.7%;
  padding-bottom:109px; 
}

.blog .image{ 
  width: 270px;
  height: 280px;
  margin: 0 auto;
  overflow: hidden; 
}

.blog .title{
  color:#11749E;
  font-family: 'Gotham-Medium';
  font-size: 18px;  
  text-align: center;
  padding:20px 0 20px 0; 
}

.blog-description{
  font-family: 'Gotham-Book';
  font-size: 15px;
  text-align: center;
  color: #222;
}



/*##### blog-area end #####*/

/*###### quick-action-area ######*/


.quick-action-area{
  background: #11749E;
  padding: 112px 0;
}

.quick-action{
 display: inline-block;
 width:49.6%;
}

.quick-action img{
  float: left;
  width: 70px;
  height: 70px;
  margin:15px 30px 15px 0;
}

.quick-action p{
  font-family: 'Gotham-Book';
  font-size: 15px;
  color: #FFF;
  padding:8px 15px;
  line-height: 24px;
}
/*###### quick-action-area end######*/

/*###### Key Feature ######*/

.key-feature{
  padding: 100px 0;
  background:url(../img/key-feature-bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

.key-feature .left-block, .key-feature .right-block{
   display: inline-block;
   width:49.6%;
}

.key-feature .left-block{
  margin-top: 130px;
  float: left;
}

.key-feature h2{
   color: #FFF;
   font-family:'Gotham-Medium';
   font-size: 25px; 
   padding-bottom: 40px;
   max-width: 470pX;
}

.key-feature .description{
  color: #FFF;
  font-family: 'Gotham-Book';
  font-size: 15px;  
  max-width: 470px;
  line-height: 24px;  
}


.key-feature img{
   display: block;
   margin:0 auto;
}

.key-feature span{
  display: block;
  font-family:'Gotham-Medium';
  color: #FFF;
  font-size: 15px;  
  background: #11749E;
  height:38px;
  line-height: 38px;
  text-transform: uppercase;
  padding: 0 20px;
  margin:24px 0;
}

.key-feature .skillbtn:nth-child(3){
  width:370px;
}

.key-feature .skillbtn:nth-child(4){
  width:400px;
}

.key-feature .skillbtn:nth-child(5){
  width:430px;
}
/*###### Key Feature End ######*/


/*###### Team ######*/

.team .capital-letter{
  padding-top: 67px;  
  color: #D7D7D7;
}

.team h2{
  font-family: 'Gotham-Medium';
  font-size: 38px;  
  text-transform: uppercase;  
  text-align: center; 
  margin: -130px 0 130px 0;
}

.team .slogan{
  font-family:'Gotham-Book';
  font-size: 30px; 
  text-align: center;
  padding-bottom: 70px; 
}

.person{
  display: inline-block;
  width:24.7%;
}

.person img{
  display: block;
  margin: 0 auto;
}

figcaption{
  position: relative;
  display: block;
  background: #FFF;
  display: block;
  margin:0 auto; 
  width:60%;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 60px;
  padding: 15px;
  z-index: 1;
}

figcaption .name{
   font-family: 'Gotham-Medium';
   font-size: 20px;
   color: #11749E;
   text-transform: uppercase;
   padding-bottom: 5px;
}

figcaption .post{
  font-family: 'Gotham-Medium';
   font-size: 15px;
}
/*###### Team End ######*/

/*###### Form ######*/

.form{
  background: url(../img/form-bg.jpg);
  -webkit-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 100px;
}

.form .capital-letter{
   padding-top: 144px;
   color:rgba(255,255,255,0.3);
}

.form h2{
  font-size: 38px;
  font-family: "Gotham-Medium";
  color:#FFF;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: -130px 0 180px 0;
}

input{
  width:95%;
  background: transparent;
  padding: 20px;
  border: 1px solid #FFF;
  outline: none;
  color: #FFF;
  font-family: 'Gotham-Medium';
  font-size: 15px;
}

input[type='email']{
  display: block;
  margin:0 auto;
}

input[type='tel']{
  display: block;
  margin-left: auto;

}

.input-wrap{
  display: inline-block;  
  width:33.1%;
}


input::-webkit-input-placeholder{
  color: #FFF;
  font-family: 'Gotham-Medium';
  font-size: 15px;
}

input:-ms-input-placeholder, input::-ms-input-placeholder, input::placeholder {
  color: #FFF;
  font-family: 'Gotham-Medium';
  font-size: 15px;
}

input::-ms-input-placeholder, input::placeholder {
  color: #FFF;
  font-family: 'Gotham-Medium';
  font-size: 15px;
}

input::placeholder {
  color: #FFF;
  font-family: 'Gotham-Medium';
  font-size: 15px;
}

textarea{
  background: transparent;
  width:100%;
  padding: 20px;
  resize: none;
  outline: none;  
  color: #FFF;
  font-family: 'Gotham-Medium';
  font-size: 15px;
  border: 1px solid #FFF;
  margin:40px 0;
}

textarea::-webkit-input-placeholder{
  color: #FFF;
  font-family: 'Gotham-Medium';
  font-size: 15px;
}

textarea:-ms-input-placeholder, input::-ms-input-placeholder, input::placeholder {
  color: #FFF;
  font-family: 'Gotham-Medium';
  font-size: 15px;
}

textarea::-ms-input-placeholder, input::placeholder {
  color: #FFF;
  font-family: 'Gotham-Medium';
  font-size: 15px;
}

textarea::placeholder {
  color: #FFF;
  font-family: 'Gotham-Medium';
  font-size: 15px;
}

input[type="submit"]{
  display: block; 
  margin: 0 auto;
  font-family: 'Gotham-Medium';
  font-size: 24px; 
  line-height: 64px;
  padding: 0;
  width: 230px; 
  height: 64px; 
  background: #11749E;
  border: none;
}



/*###### Form End ######*/

/*###### Map ######*/

.map img{
  width: 100%;  
  background:url(../img/map.jpg);   
}

/*###### Map End ######*/



/*###### Main End ######*/


/*###### Footer #######*/

footer{
  padding:50px 0;
  border: none; 
  background: #222;
  margin-top:  -5px;
}

.corp{
  display: inline-block;  
  font-family: 'Roboto-Regular';
  color: #FFF;
  float: left:;
}

.design-by{
    display: inline-block;  
  font-family: 'Roboto-Regular';
  color: #FFF;
  float: right; 
}


/*###### Footer #######*/


/*###### Responsive ######*/



@media screen and (max-width: 1199px){
    .input-wrap{
    width: 100%;
  }
    .input-wrap input, textarea{
    width: 90%;
    margin: 2% 5%;
  }
}

@media screen and (max-width: 1100px){

  .feature-group{
    margin-top: 130px;
  }
  .person, .blog,  .feature{
    width: 49.6%;
  }
  .blog .blog-description,  .feature p{
    width:80%; 
    text-align: center;
    padding-left: 20%;
  }
  .about-company-head h1{
  font-size: 103px;
  }
  .about-company-head .powered{
    letter-spacing:0px;
  }
}

@media screen and (max-width: 850px){
     .nav-menu li a{
    
    font-size:16px;
   }

   .nav-menu li a:hover{
    border-bottom: 6px solid #11749E;
    }
}

@media screen and (max-width: 768px){
  .blog, .person, .feature, .key-feature .left-block, .key-feature  .right-block, .quick-action{
    width: 100%;
  }

   .about-company-head h1{
  font-size: 53px;
  letter-spacing: 0;
  }
  
  .key-feature h2{
    text-align: center;
  }

  .blog .image, .image img, .blog .title ,.key-feature h2, .key-feature .description, .quick-action{
    width:80%;
    margin-left:10%;
    margin-right:10%;
  }

  
.key-feature .skillbtn:nth-child(3){
  width: 100%;
  text-align: center;
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.key-feature .skillbtn:nth-child(4){
  width: 100%;
  text-align: center;
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

.key-feature .skillbtn:nth-child(5){
  width: 100%;
  text-align: center;
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

  .blog .image, .image img{
    height: auto;
  }

  .key-feature img{
   width: 100%;
}

  .left-block, .right-block, .img-block-one, .img-block-two{
    position: relative;
    width: 100%;
  }

  .img-block-one{
    position: relative;

    top:15px;
  }

  .right-block .img, .agency-news1, .left-block .artic{
    padding: 0;
    margin: 0;
  }


  .img-block-one, .img-block-two{
    width: 100%;
    height:400px;
    padding: 0;

  }

  .nav-menu{
    float:none;
    display: block;
    text-align:center;
  }
  .nav-menu li{
    display:inline-block;
  }

  .nav-menu li a{
    
    font-size:16px;
    padding:15px 5px;
   }

   .nav-menu li a:hover{
    padding-bottom:9px; 
    border-bottom: 6px solid #11749E;
    }

   .logo{
    clear:both;
    display: block;
    margin: 10px auto;
   }
}

